{% extends 'layout.html' %}

{% block title %}
    <title>modifier un trajet</title>
{% endblock %}

{% block body %}
    <form method="post" action="/trajets/edit">
        <fieldset>
            <legend> Modifier un trajet</legend>
            <input class="form-select" id="id" type="text" name="id" size="18" value="{{ trajet.id }}" placeholder="Saisir l'id du trajet" hidden="hidden"><br>
            <label for="date">date</label><br>
            <input class="form-select" id="date" type="date" name="date" size="18" value="{{ trajet.date }}" placeholder="Saisir la date du trajet" required><br>
            <label for="conducteur">conducteur</label>
            <select class="form-select" name="conducteur">
                {% for conducteur in conducteurs %}
                    <option value="{{ conducteur.id }}"
                            {% if trajet.personne_id is defined and conducteur.id_personne ==  trajet.personne_id %}selected{% endif %}
                    > {{ conducteur.conducteur }} </option>
                {% endfor %}
            </select><br>
            <label for="distance">distance</label><br>
            <input class="form-select" id="distance" type="text" name="distance" size="18" value="{{ trajet.distance }}" placeholder="Saisir la distance du trajet"><br>

            <label for="temps_estime">temps estime</label><br>
            <input class="form-select" id="temps_estime" type="text" name="temps_estime" size="18" value="{{ trajet.temps_estime }}" placeholder="Saisir la date du trajet"><br>

            <label for="nb_places">nombre de places</label><br>
            <input class="form-select" id="nb_places" type="number" name="nb_places" size="18" value="{{ trajet.nb_places }}" placeholder="Saisir le nombre de place"><br>

            <label for="heure">heure de départ (hh:mm:ss)</label><br>
            <input class="form-select" id="heure" type="text" name="heure" size="18" value="{{ trajet.heure }}" placeholder="Saisir l'heure de départ"><br>

            <label for="voiture">voiture</label>
            <select class="form-select" name="voiture">
                {% for voiture in voitures %}
                    <option value="{{ voiture.immatriculation }}"
                            {% if trajet.immatriculation is defined and voiture.immatriculation ==  trajet.immatriculation %}selected{% endif %}
                    > {{ voiture.voiture }} </option>
                {% endfor %}
            </select><br>

            <label for="depart">lieu de départ</label>
            <select class="form-select" name="depart">
                {% for lieu in lieux %}
                    <option value="{{ lieu.id }}"
                            {% if trajet.depart is defined and lieu.id ==  trajet.arrivee %}selected{% endif %}
                    > {{ lieu.adresse }} </option>
                {% endfor %}
            </select><br>

            <label for="arrivee">lieu d'arrivee</label>
            <select class="form-select" name="arrivee">
                {% for lieu in lieux %}
                    <option value="{{ lieu.id }}"
                            {% if trajet.destination is defined and lieu.id ==  trajet.destination %}selected{% endif %}
                    > {{ lieu.adresse }} </option>
                {% endfor %}
            </select><br>

            <input class="btn btn-primary" type="submit" value="Modifier" name="Valider" >

        </fieldset>
    </form>
{% endblock %}